#authSectionArea {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    /* background-image: linear-gradient(to right, #D500F9, #FFD54F); */
    background-repeat: no-repeat;
}

#authSectionArea .form-control{
    background-color: #e8eeff2e;
    border-radius: 5px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #0043ff82 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

#authSectionArea .form-control:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D500F9 !important;
    outline-width: 0;
    font-weight: 400;
}

#authSectionArea .button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

#authSectionArea .card {
    border-radius: 0;
    border: none;
}

#authSectionArea .card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
}

#authSectionArea .card2 {
    width: 50%;
    background-image: linear-gradient(200deg, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)
    /* background-image: linear-gradient(to right, #FFD54F, #D500F9); */
}

#logo {
    width: 70px;
    height: 60px;
}

#authSectionArea .heading {
    margin-bottom: 60px !important;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 !important;
}

::-ms-input-placeholder {
    color: #000 !important;
}

#authSectionArea .form-control-label {
    font-size: 12px;
    margin-left: 15px;
}

#authSectionArea .msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

#authSectionArea .btn-color {
    border-radius: 5px;
    color: #fff;
    /* background-image: linear-gradient(to right, #FFD54F, #D500F9); */
    background-image: linear-gradient(to right, #6300EC 0%, #00d4a8 100%);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 12px;
}

#authSectionArea .btn-color:hover {
    color: #fff;
    /* background-image: linear-gradient(to right, #D500F9, #FFD54F); */
    background-image: linear-gradient(to right, #5400c9 0%, #01c09a 100%);
}

#authSectionArea .btn-white {
    border-radius: 50px;
    color: #D500F9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 !important;
}

#authSectionArea .btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    /* background-image: linear-gradient(to right, #FFD54F, #D500F9); */
}

#authSectionArea a {
    color: #000;
}

#authSectionArea a:hover {
    color: #000;
}

#authSectionArea .bottom {
    width: 100%;
    margin-top: 50px !important;
}

#authSectionArea .sm-text {
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    #authSectionArea .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    #authSectionArea .card2 {
        width: 100%;
    }

    #authSectionArea .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    #authSectionArea .container {
        padding: 10px !important;
    }

    #authSectionArea .card2 {
        padding: 50px;
    }

    #authSectionArea .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}

.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 25%);
    margin: auto;
}

.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}