.section-title h2 {
    background: #6300EC;
    background: linear-gradient(to right, #6300EC 0%, #00d4a8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title h2 {
    text-align: center;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 800;
}

.section-para p{
    text-align: center;
    font-size: 1.65rem;
    line-height: 2rem;
    font-weight: 500;
    color: #4b5364d1;
}

.section-btn-action{
    text-align: center;
    margin-top: 2.85rem;
}

.section-btn-action a{
    color: white;
    padding: 1.15rem 5rem;
    margin: 1.8rem 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    background: linear-gradient(#60a5fa, #2563eb);
}

.headarea .bgimg{
    /* position: absolute; */
    background-image: url("../Img/wave.svg"); 
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}