@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.navbar-top-gradient{
    width: 100%;
    left:0;
    top:0;
    position: absolute;
    height: 0.75rem;
    background-image: linear-gradient(to right, #4f46e5, #34d399);
}

a.nav-link {
    font-weight: 500;
    padding: 15px;
    font-size: 18px;
}

li.nav-item {
    padding: 0px 12px;
}

.black-btn a{
    color: #fff !important;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
    padding-left: 1.8rem !important;
    padding-right: 1.8rem !important;
}